body{
    background-color: gray;
}

header{
    background-color: white;
}


.container{
    display: flex;
}


.p1{
    font-size:  1.2em; ;

}

.txt{
    color: rgb(38, 151, 216);
}


.maison{
    width: 100px;
    
}

.blocMaison{
    display: flex;
    justify-content: center;

    

}

.ble{
    width: 170px;
}


.cont{
    background-color: white;
    margin: 5px;


}

.l1, .l2, .l3, .l4 {
    display: flex;
}

.tree{
    width: 300px;

}




